[Unit]
Description=service start prp
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/bin/sh /PRP.sh
StandardOutput=tty

[Install]
WantedBy=sysinit.target